<div class="form-group">
    hello
    <div class='input-group date datetimepicker'>
        {{input class="form-control" value=editing}}
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>
