<div class='submission-upload'>
  <div class='directions'>
    {{#if fileChosen}}
      {{widget.parameters.fileName.value}} selected for upload.
    {{else}}
      Select a preprint file to upload
    {{/if}}
  </div>
  <input
      class='upload'
      type="file"
      onchange={{action "uploadFile" value=target}}
      multiple
  >
</div>

{{yield}}
